# Copy this file to one of these Windows locations before starting the hub:
# C:\ProgramData\Gaurav POS Hub\hub.env
# %APPDATA%\Gaurav POS Hub\hub.env
#
# The cloud portal gives you POS_INSTALLATION_ID and POS_SYNC_SECRET when you
# click "Create Hub Connection".

HUB_HOST=0.0.0.0
HUB_PORT=3737
HUB_PUBLIC_URL=http://192.168.1.20:3737

HUB_DATABASE_PATH=C:\ProgramData\Gaurav POS Hub\data\hub.sqlite
HUB_BACKUP_DIR=C:\ProgramData\Gaurav POS Hub\backups
HUB_PRINTER_DRY_RUN=false
HUB_ADMIN_TOKEN=replace-with-a-long-random-password

CONVEX_HTTP_URL=https://your-convex-site.convex.site
POS_INSTALLATION_ID=paste-from-cloud-portal
POS_SYNC_SECRET=paste-from-cloud-portal
